<?xml version="1.0"?>
<data>
<settings>
	<variable>temp</variable>
	<fcstSources>manual,con</fcstSources>
	<leadTime>02m</leadTime>
	<aveWindow>03m</aveWindow>
	<datesValidType>dateRange</datesValidType>
	<datesValid>201301,201312</datesValid>
	<regionType>climateDivision</regionType>
	<regions>All</regions>
	<spatialType>climateDivision</spatialType>
	<outputType>ascii</outputType>
	<outputDimension>time</outputDimension>
	<scoreType>heidke</scoreType>
	<categoryType>total</categoryType>
	<ECType>default</ECType>
</settings>
</data>

