<?xml version="1.0"?>
<data>
<settings>
	<variable>tmax-ptile-15-and-85</variable>
	<fcstSources>rfcstCalProb_gefs_00z</fcstSources>
	<leadTime>08d</leadTime>
	<aveWindow>01d</aveWindow>
	<datesValidType>dateRange</datesValidType>
    <datesValid>20140801,20140831</datesValid>
	<regionType>climateDivision</regionType> 
	<regions>All</regions>
	<spatialType>gridded</spatialType>
	<outputType>chart</outputType>
	<outputDimension>time</outputDimension>
	<scoreType>brier</scoreType>
	<categoryType>A</categoryType>
	<ECType>default</ECType>
</settings>
</data>

