;####################################################################
;         Verification System Client-side Configuration File        #
;####################################################################
;
; This file uses an INI format to store settings for the client-side components
; of the Verification system (ie. the applet).
;
; Here are some properties of this file:
;   - Each section of the file is preceded by a section name within []'s
;   - Each setting is preceded by a comment block describing the setting
;   - When a settings already has a value, then that is the preffered value
;     and should be left as is, provided the system is installed closely
;     following the instructions in the "How to Install" document.
;   - When a setting does not have a value, you must add one
;

;--------------------------------------------------------------------
; Services Settings
;
[services]
;------------------
; URL:        URL to the Tomcat web service app to connect to
;
;             For example, if you just deployed a file verif_john.doe.war using
;             the Tomcat Manager, your URL would look something like this:
;
;             http://tomcatServer.gov/vwt/services/VerificationSystemToolService
;
;             When you deploy your war file, use your own first.last (see the "How To
;             Make Changes to Code" Google doc)
;
;   example:  http://cpcintradev.ncep.noaa.gov/vwt/services/VerificationSystemToolService
URL = 
